
<!-- <diretiva-ngif></diretiva-ngif> -->
<!-- <diretiva-ngfor></diretiva-ngfor> -->
<!-- <diretiva-ngclass></diretiva-ngclass> -->
<!-- <diretiva-ngstyle></diretiva-ngstyle> -->
<!-- <operador-elvis></operador-elvis> -->
<!-- <app-exemplo-ng-content>
    <div class="titulo">Atenção</div>
    <div class="corpo"><p>Corpo da mensagem</p></div>
    <div class="corpo"><operador-elvis></operador-elvis></div>
</app-exemplo-ng-content> -->
<!-- <app-diretiva-customizada></app-diretiva-customizada> -->
<app-cursos></app-cursos>
<app-cursos></app-cursos>